@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?j7owx7');
  src:  url('fonts/icomoon.eot?j7owx7#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?j7owx7') format('truetype'),
    url('fonts/icomoon.woff?j7owx7') format('woff'),
    url('fonts/icomoon.svg?j7owx7#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-asterisk-solid:before {
  content: "\e900";
}
.icon-bars-solid:before {
  content: "\e901";
}
.icon-clock-regular:before {
  content: "\e902";
}
.icon-clock-solid:before {
  content: "\e903";
}
.icon-door-open-solid:before {
  content: "\e904";
}
.icon-envelope-regular:before {
  content: "\e905";
}
.icon-face-angry-regular:before {
  content: "\e906";
}
.icon-facebook-f-brands:before {
  content: "\e907";
}
.icon-face-grin-stars-regular:before {
  content: "\e908";
}
.icon-file-medical-solid:before {
  content: "\e909";
}
.icon-fingerprint-solid:before {
  content: "\e90a";
}
.icon-instagram-brands:before {
  content: "\e90b";
}
.icon-location-dot-solid:before {
  content: "\e90c";
}
.icon-phone-solid:before {
  content: "\e90d";
}
.icon-whatsapp-brands:before {
  content: "\e90e";
}
.icon-youtube-brands:before {
  content: "\e90f";
}
